.headerProps{
    width: 100%;
    height: 80px;
   
}
.headerSlogan{
    font-size: 16px;
    line-height: 24px;
}
.footerSlogan{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.logoSection{
    width: 50%;
    height: 100%;
}
.homeBTN{
    width: 46px;
}
.LoginBTN{
    width: 47px;
}
.dynamicComponentsProps{
    border: 1px solid #667085;
    height: calc(100vh - 208px);
    overflow: auto;
}
.footerProps{
   background-color: #1D2939;
    width: 100%;
    height: 128px;
}
.FooterText {
    font-size: 16px;
    line-height: 24px;
    color: #98A2B3;
}
.imgCartProps{
    margin-right: 24px;
    width: 24px;
    height: 24px;
}
.counter{
    width: 14px;
    height: 14px;
    background-color: #41CCCC;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 8px;
    border: 2px solid #FFFFFF;
    color: #344054;
    font-size: 10px;
    text-align: center;
}