<section class="container h-100">
    <div class="bodyContainer h-100">

        <div class="logo">
           <div> <app-logo></app-logo></div>
           <h1 class="LoginPageHeader">Log in to your account</h1>
           <p class="loginPageText">Welcome back! Please enter your details.</p>
            <div class="inputInParent"><app-input [type]="'text'" [text]="'Email'" [placeholder]="'Enter your email'"></app-input></div>
            <div class="inputInParent"><app-input [type]="'password'" [text]="'password'" [placeholder]="'Enter your password'"></app-input></div>
            <div>
                <Button class="btnLogin">Sign In</Button>
            </div>
        </div>
        
    </div>
</section>
